*.py[cod]

# Packages
/*.egg
/*.egg-info
/dist/
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.swp



######### From CAFFE #############

## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# build, distribute, and bins
caffe/build
caffe/.build_debug/*
caffe/.build_release/*
caffe/distribute/*
caffe/*.testbin
caffe/*.bin
caffe/python/caffe/proto/

# Editor temporaries
*.swp
*~

# IPython notebook checkpoints
.ipynb_checkpoints

## Caffe

# User's build configuration
caffe/Makefile.config

# Data and examples are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
caffe/data/*
caffe/examples/*
caffe/examples/imagenet/caffe_reference_imagenet_model
caffe/examples/logo2/caffe_logo2_train_iter_5000

# Generated documentation
caffe/docs/_site
caffe/_site

# Sublime Text settings
*.sublime-workspace
*.sublime-project

